{
  "extends": [
    "standard",
    "standard-react"
  ],
  "rules": {
    "jsx-quotes": [
      "error",
      "prefer-double"
    ],
    "react/jsx-no-bind": 0
  },
  "env": {
    "browser": true
  }
}
